@import "~bootstrap/scss/bootstrap.scss";

.error {
  text-align: center;
  font-size: x-large;
  height: 100%;
}

.error-text {
  font-size: 100px;
  line-height: 60px;
}

.span-error {
  font-size: 50px;
}
